@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-image: url('https://imdb-api-chuksjohnleo.vercel.app/favicon_io/android-chrome-512x512.png/');
    text-align: center;
    backdrop-filter: blur(14px);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
